/data.csv
/data_norm_hot_pca.csv
/data_norm_hot_svd.csv
/data_norm_nohot_pca.csv
/data_norm_nohot_svd.csv
/data_stand_hot_pca.csv
/data_stand_hot_svd.csv
/data_stand_nohot_pca.csv
/data_stand_nohot_svd.csv
/data_norm_hot_pca_dbscan.csv
/data_norm_hot_pca_kmeans.csv
/data_norm_hot_svd_dbscan.csv
/data_norm_hot_svd_kmeans.csv
/data_norm_nohot_pca_dbscan.csv
/data_norm_nohot_pca_kmeans.csv
/data_norm_nohot_svd_dbscan.csv
/data_norm_nohot_svd_kmeans.csv
/data_stand_hot_pca_dbscan.csv
/data_stand_hot_pca_kmeans.csv
/data_stand_hot_svd_dbscan.csv
/data_stand_hot_svd_kmeans.csv
/data_stand_nohot_pca_dbscan.csv
/data_stand_nohot_pca_kmeans.csv
/data_stand_nohot_svd_dbscan.csv
/data_stand_nohot_svd_kmeans.csv
